.container {
  max-width: 80em !important;
}

.content {
  overflow: hidden;
}

/* .col-1, .col-2, .col-3
	padding-bottom: 1000em
	margin-bottom: -1000em */
.col-2 {
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
}

.small-dark-title {
  background: black;
  color: white;
  padding: 0.38em 0.75em;
  display: inline-block;
  font-weight: bold;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

.bold {
  font-weight: 900;
}

.pt05 {
  padding-top: .5em;
}

.pt1 {
  padding-top: 1em;
}

.mt03 {
  margin-top: .333em;
}

.mlr0 {
  margin-left: 0;
  margin-right: 0;
}

.pr0 {
  padding-right: 0;
}

.pr05 {
  padding-right: .5em;
}

.plr05 {
  padding-left: .5em;
  padding-right: .5em;
}

.pb1 {
  padding-bottom: 1em;
}

.p0 {
  padding: 0;
}

.bg-grey {
  background: #f5f5f5;
}

.copyright {
  padding: 1.43em 0 2.86em;
}

.unlist {
  padding-left: 1.43em;
}
