doctype html
html(lang="en")
	head
		include _includes/_head
	body
		.container
			header.row
				.col-md-4
					h2 SiteName

				ul.col-md-8.list-inline.text-right(style="margin-top: 1.25em;")
					li: a(href="")
						i.pr05.glyphicon.glyphicon-envelope
						|Newsletter
					li: a(href="")
						i.pr05.glyphicon.glyphicon-leaf
						|RSS
					li.hidden-sm |
					li: form.form-inline(role="form")
						.form-group
							label.sr-only Email Address
							input(type="email", placeholder="Enter Email").form-control 
							button(type="submit").btn.btn-default Sign Up!

			nav.row
				.col-sm-12
					ul.nav.nav-tabs(style="background: #eee; padding: 1.5em 0 0 .6em; border-radius: .3em .3em 0 0")
						li.active: a(href="") Book
						li: a(href="") Magazines
						li: a(href="") Comics
						li: a(href="") Audio Books
						li: a(href="") Action Figures
						li: a(href="") Cosumes
			

			.content.row.pt05

				section.col-sm-7.col-md-7.col-lg-5
					include _includes/col-1
					
				section.col-sm-5.col-2.col-md-5.col-lg-4
					include _includes/col-2					

				section.col-sm-12.col-md-12.col-lg-3
					include _includes/col-3
			

			hr(style="border-width: 10px")

			footer.row.text-centered
				
					+footer-col
					+footer-col
					+footer-col
					+footer-col
					
					
				.col-sm-12.text-right.text-muted.copyright
					p CopeyRight your Site 2016
		script(src="js/jquery-2.1.4.min.js")
		script(src="js/bootstrap.min.js")
		script(src="js/function.js")