aside.row
	article.col-xs-12.col-sm-6.col-lg-12
		
			.h3 Terir par Experteses
			ul.unlist
				li sed eros rutrum
				li quis euismod tellus interdum
				li vel tellus et nisi viverra
				li imperdiet tempor neque
				li convallis ligula molestie ac
			hr
			

	article.col-xs-12.col-sm-6.col-lg-12
		.bg-grey.plr05
			strong WEBZINE
			h5.bold EFGD4DSA

			p.text-muted Educudas
			p.text-muted Aenean varius est vitae urna viverra dapibus. Phasellus ac consectetur turpis.

			p.text-muted Educudas
			p.text-muted Aenean varius est vitae urna viverra dapibus. Phasellus ac consectetur turpis.
	
	hr(style="border: 0;")

	article.col-xs-12.col-sm-6.col-lg-12
		.bg-grey.plr05
			strong WEBZINE
			h5.bold EFGD4DSA

			p: img.img-responsive(src="//fillmurray.com/g/400/200", alt="")
			p.strong Educudas
			p.text-muted Aenean varius est vitae urna viverra dapibus. Phasellus ac consectetur turpis.
	
	
	hr(style="border: 0;")

	article.col-xs-12.col-sm-6.col-lg-12
		.bg-grey.plr05
			strong WEBZINE
			h5.bold EFGD4DSA

			p.strong Educudas
			p.text-muted Aenean varius est vitae urna viverra dapibus. Phasellus ac consectetur turpis.


