article.row
		.col-sm-12
			h4.small-dark-title A la une
			.lead.mb0 Suterw 
				span.text-muted | pelsnf le 14/11/15
		.col-sm-12
			h2 Lorem ipsum dolor sit amet
			p Sed purus tellus, facilisis bibendum augue eu, imperdiet eleifend quam. Mauris pellentesque bibendum gravida. Nam sapien elit, volutpat at lacinia vitae, tincidunt eget risus. Integer scelerisque velit in molestie ultrices. In congue diam nunc, id laoreet est vulputate sit amet.
			
		.small.text-muted.clearfix
			.col-sm-4
				ul.list-inline
					li: span.glyphicon.glyphicon-folder-open
					li: strong Voir I`article   

			.col-sm-8
				ul.list-inline
					li: i.glyphicon.glyphicon-tags
					li: span: strong Tags:
					li: a(href="") Mauris
					| ,
					li: a(href="") pellentesque
					| ,
					li: a(href="") bibendum
		
		hr

article.row
		.col-sm-5
			h5.small-dark-title.mt0 WEBZINE 
				span.bold ECODEEF
		.col-sm-7
			a(href="") Question du mois
			span.text-muted  | puble le 12/12/15
		.col-sm-12
			h2 Lorem ipsum dolor sit amet
			p Pellentesque porta massa felis, et vulputate ipsum sagittis vel. Proin vitae porttitor nunc. Sed sit amet tortor odio! Nunc eget ipsum eget turpis semper vehicula non sed ex. Mauris cursus facilisis libero nec pharetra. Aenean vel sapien sit amet lorem placerat tempus.
		.small.text-muted.clearfix
			.col-sm-4
				ul.list-inline
					li: span.glyphicon.glyphicon-folder-open
					li: strong Voir I`article   

			.col-sm-8
				ul.list-inline
					li: i.glyphicon.glyphicon-tags
					li: span: strong Tags:
					li: a(href="") Mauris
					| ,
					li: a(href="") pellentesque
					| ,
					li: a(href="") bibendum
		hr

article.row
		.col-sm-12
			.lead.mb0 Suterw 
				span.text-muted | pelsnf le 14/11/15
		.col-sm-12
			h2 Integer facilisis porta felis
			p: img(src="//fillmurray.com/g/601/250", alt="").img-responsive
			p Morbi lobortis leo lobortis, laoreet mi a; convallis justo. Curabitur tristique imperdiet nisi ornare ultricies. Maecenas mi ex, aliquam a est eu, gravida vulputate tortor.
		.small.text-muted.clearfix
			.col-sm-4
				ul.list-inline
					li: span.glyphicon.glyphicon-folder-open
					li: strong Voir I`article   

			.col-sm-8
				ul.list-inline
					li: i.glyphicon.glyphicon-tags
					li: span: strong Tags:
					li: a(href="") Mauris
					| ,
					li: a(href="") pellentesque
					| ,
					li: a(href="") bibendum
		
		hr

article.row
		.col-sm-12
			.lead.mb0 Suterw 
				span.text-muted | pelsnf le 14/11/15
		.col-sm-12
			h2 Lorem ipsum dolor sit amet
			p Sed purus tellus, facilisis bibendum augue eu, imperdiet eleifend quam. Mauris pellentesque bibendum gravida. Nam sapien elit, volutpat at lacinia vitae, tincidunt eget risus. Integer scelerisque velit in molestie ultrices. In congue diam nunc, id laoreet est vulputate sit amet.
		.small.text-muted.clearfix
			.col-sm-4
				ul.list-inline
					li: span.glyphicon.glyphicon-folder-open
					li: strong Voir I`article   

			.col-sm-8
				ul.list-inline
					li: i.glyphicon.glyphicon-tags
					li: span: strong Tags:
					li: a(href="") Mauris
					| ,
					li: a(href="") pellentesque
					| ,
					li: a(href="") bibendum


